.button {
  background-color: #3669c9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2c5db0;
}

.button.small {
  padding: 0px;
  width: 120px; /* Ancho específico para el botón pequeño */
  height: 45px; /* Altura */
}

.button.medium {
  padding: 10px;
  width: 180px; /* Ancho específico para el botón mediano */
  height: 45px; /* Altura */
}

.button.large {
  padding: 15px;
  width: 250px; /* Ancho específico para el botón grande */
  height: 45px; /* Altura */
}
