.button {
  background-color: var(--primary-200);
  color: var(--bg-100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-100);
}

.button.small {
  padding: 0px;
  width: 120px;
  height: 45px;
}

.button.medium {
  padding: 10px;
  width: 180px;
  height: 45px;
}

.button.large {
  padding: 15px;
  width: 250px;
  height: 45px;
}
