.containerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.title-register {
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-200);
}

.input {
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  align-items: center;
}

.button {
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.error-message {
  color: red;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.input-error {
  border: 1px solid red;
}
