.input-container {
  width: 100%;
  padding: 10px;
}

.input {
  height: 40px;
  border: 1px solid var(--text-200);
  padding: 10px;
  border-radius: 5px;
  width: 380px;
  font-size: 16px;
}

.input-error {
  border: 1px solid var(--accent-200);
}

.input-label {
  margin-bottom: 5px;
  color: var(--primary-200);
  font-size: 14px;
}

.error-message {
  color: var(--accent-200);
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
