.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
  width: 100%;
}

.titleNavbar {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.nav-link {
  color: #282c34;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #aaa;
}
