.books-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;
}

.books-title {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.filter-genre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-genre select {
  padding: 5px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  padding-bottom: 50px;
}

.book-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  padding-bottom: 60px;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.book-item:hover {
  transform: scale(1.02);
}

.book-item img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.books-available {
  font-size: large;
  font-weight: bold;
}

.book-item h2 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.book-item p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.button-add {
  position: absolute; /* Cambia a posición absoluta */
  bottom: 10px; /* Espacio desde el borde inferior de la tarjeta */
  left: 50%; /* Centra el botón horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  margin-top: 15;
}

@media (min-width: 1024px) {
  .books-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .books-grid {
    grid-template-columns: 1fr;
  }

  .book-item h2 {
    font-size: 16px;
  }

  .book-item p {
    font-size: 12px;
  }

  button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
