.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  max-width: 250px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 300px;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.card-author {
  font-size: 1rem;
  color: #000;
}

.card-year {
  font-size: 1rem;
  color: #555;
  background-color: red;
}
